* {
    box-sizing: border-box;
  }

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial;
    height: 100hv;
}

.row {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    flex-wrap: nowrap;
    background-color: #0D1D24;
}
.uno  {   
    background-color: #0D1D24;
    width: 500px;
    display: flex;
}
.dos {
    
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #050e13;
    border-radius: 30px;
}