* {
    box-sizing: border-box;
  }

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial;
    height: 100hv;
}

.row {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    flex-wrap: nowrap;
    background-color: #0D1D24;
}
.uno  {   
    background-color: #0D1D24;
    width: 500px;
    
}
.dos {
    
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #050e13;
    border-radius: 30px;
}
.logo{
    width: 60px;
    height: 60px;
    background-color: rgb(188, 196, 214);
    margin-top: 110px;
    margin-left: 60px;
    border-radius: 50px;
    border-width: 2px;
    border-style: solid;
    border-color: white;
}
.texto-logo {
    color: white;
    font-size: 25px;
    margin-top: -70px;
    margin-left: 135px;
}
.regresar {
    width: 100px;
    height: 40px;
    background-color: rgb(38, 152, 197);
    margin-top: 40px;
    margin-left: 110px; 
    font-size: 15px;
    color: white;
    border-radius: 20px;

}


.nombre-nuevo-proyecto{
  
    height: 50px;
    margin-top: 70px;
    margin-left: 100px;
   
}
.opcion-nuevo-proyecto{
    width: 420px;
    margin-left: 115px;
    margin-top: 20px;
}



.texto-guion{
    width: 580px;
    height: 150px;
    margin-left: 100px;
    background-color: rgba(85, 81, 81, 0.329);
    margin-top: 50px;
    border-radius: 20px;
    border: 2px solid rgb(102, 101, 101);
}

.opcion-guion{
    margin-top: 40px;
}

.boton-keywords, .boton-crear-proyecto{
    width: 150px;
    height: 40px;
    text-align: center;
    border-radius: 15px;
    border: 1px solid rgb(129, 127, 127);
     
 
}
.boton-keywords{
    background-color: #050e13;
    margin-top: 40px;
    margin-left: 100px;
}
.boton-crear-proyecto{
  
    background-color: rgb(165, 218, 218);
    margin-left: 530px;
    margin-top: -40px;
    
}

.ocultar {
    display: none;
}

.opcion-anade-keywords {
    font-size: 30px;
    color: white;
    margin-top: 100px;
    margin-left: 70px;
}

.opcion-puntos, .opcion-negocios,  .opcion-start-up{
    border-radius: 15px;
    color: white;
    font-size: 18px;
}

.opcion-puntos{
    background-color: rgba(85, 81, 81, 0.329);
    border: 1px solid rgb(102, 101, 101);
    margin-left: 90px;
    width: 100px;
    height: 35px; 
    margin-top: 30px;
    
}

.opcion-negocios{
    background-color: rgb(38, 152, 197);
    margin-left: 220px;
    margin-top: -35px;
    width: 130px;
    height: 35px;
}

.opcion-start-up{
    background-color:  rgb(38, 152, 197);
    margin-top: -35px;
    margin-left: 380px;
    width: 130px;
}
.opciones-sugerencias{
    
    float: left;
    color: white;
   
}
