* {
    box-sizing: border-box;
  }

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial;
    height: 100hv;
    background-color: black ;
}  

.row {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    flex-wrap: nowrap;
}
.Uno  {   
    background-color: #0D1D24;
    width: 550px;
    display: flex;
    /*overflow-y: scroll;*/

}

ul{
    padding: 0px;  
    margin: 0px;
    list-style: none;
    color: ivory;
    background-color:#081419;
}

ul li{
    
    display: inline;
    list-style: none;
    text-align: center;
    margin-left: 2px;
}

ul li:last-child {
    border-right: none;
}

ul li a {
    text-decoration: none;
    padding: 2px 10px;
    display: inline-block;
}

ul li a .icon {
    width: 40px;
    height: 40px;
    text-align: center;
    overflow: hidden;
    margin:0 auto 10px;
}

ul li a .icon{
    width: 120%;
    height: 100%;
    margin-top: 10px;
    line-height: 40px;
    font-size: 20px;
    color: rgb(204, 198, 198);
}
.name{
    color:rgb(228, 222, 222);
   
}

.caixa{

    background-color:rgba(170, 165, 164, 0.678);
    width: 215px;
    left: 68px;
    top: 55px;
    height: 103px;
    border-width: medium;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.678);
         
}
.escena-trans-efecto{
    background-color: white;
    width: 50px;
    height: 50px;
    margin: -30px auto;
}

.item-escena{
    
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-right: 20px;
    
}
.escenas-iconos {
    overflow-y: scroll;
    display: flex;
    max-height: calc(100% - 80px);
}

.Dos {
    
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.main-top {
    background-color: #081419;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.foto {

    background-color: rgb(170, 165, 164);
    width:550px;
    height: 300px;

}
.Tres {
  
    background-color: #081419;
    height: 30%;

}

.top-icons {
    height: 66px;
}

.circulo, .lineas {

    color: rgb(116, 115, 115);
    font-size: 20px;
 
} 

.reproducir {
  
    width: 955px;
    height: 189px;
    background-color: rgb(0, 0, 0);
    margin-top: 7px;
    margin-left: 15px;
    border-radius: 10px;
    overflow-y: scroll;
    
   
}

    .reproduccion-a, .reproduccion-b, .reproduccion-c, .reproduccion-d {
        width: 938px;
        height: 60px;
    }

    .reproduccion-a {background-color: #0D1D24;}
    .reproduccion-b{background-color: #11262f;}
    .reproduccion-c{background-color: #0D1D24;}
    .reproduccion-d{background-color: #11262f;}
    
.rojo, .azul, .verde, .naranja {

    border-radius: 15px;
    height:50px;
}
.rojo {
    background-color: red;
    width:800px;
    margin-left: 100px;
}
.azul{
    background-color: blue;
    width:600px;
    margin-left: 170px;
}
.verde{
    background-color: green;
    width:300px;
    margin-left: 400px;
}
.naranja{
    background-color: orangered;
    width:900px;
    margin-left: 30px;
}





